//META{"name":"CodeBlock","description":"Adds descriptions to any codeblock","author":"spthiel","version":"1.0.0"}*//

@import url(https://spthiel.github.io/css/CodeBlocks.raw.css);

:root {
		--des-1c:              "1c";

		--des-abnf:            "ABNF";
		--des-accesslog:       "Access Log";
		--des-actionscript:    "ActionScript";
		--des-ada:             "Ada";
		--des-apache:          "Apache";
		--des-applescript:     "Applescript";
		--des-arduino:         "Arduino";
		--des-armasm:          "ARM Assembly";
		--des-asciidoc:        "AsciiDoc";
		--des-aspectj:         "AspectJ";
		--des-atom:            "Atom Feed (XML)";
		--des-autohotkey:      "AutoHotkey";
		--des-autoit:          "AutoIt";
		--des-avrasm:          "AVR Assembler";
		--des-awk:             "Awk";
		--des-axapta:          "Axapta";

		--des-bash:            "Bash";
		--des-basic:           "Basic";
		--des-dos:             "Batch";
		--des-bnf:             "BNF";
		--des-brainfuck:       "Brainfuck";

		--des-c:               "C/C++";
		--des-cs:              "C#";
		--des-cal:             "CAL";
		--des-capnproto:       "Cap'n Proto";
		--des-ceylon:          "Ceylon";
		--des-clean:           "Clean";
		--des-clojure:         "Clojure";
		--des-clojure-repl:    "Clojure REPL";
		--des-cmake:           "CMake";
		--des-coffeescript:    "CoffeeScript";
		--des-coq:             "Coq";
		--des-cos:             "CachÃ© Object Script";
		--des-podspec:         "CocoaPod";
		--des-crmsh:           "crmsh";
		--des-crystal:         "Crystal";
		--des-csp:             "CSP";
		--des-css:             "CSS";

		--des-d:               "D";
		--des-dart:            "Dart";
		--des-delphi:          "Delphi (Object Pascal)";
		--des-diff:            "Diff";
		--des-django:          "Django";
		--des-dns:             "DNS Zone File";
		--des-dockerfile:      "Dockerfile";
		--des-dsconfig:        "dsconfig";
		--des-dts:             "Device Tree";
		--des-dust:            "Dust";

		--des-ebnf:            "EBNF";
		--des-elixir:          "Elixir";
		--des-elm:             "Elm";
		--des-erb:             "ERB";
		--des-erlang:          "Erlang";
		--des-erlang-repl:     "Erlang REPL";
		--des-excel:           "Excel";

		--des-fs:              "F#";
		--des-fix:             "Fix";
		--des-flix:            "Flix";
		--des-fortran:         "Fortran";

		--des-gams:            "GAMS";
		--des-gauss:           "Gauss";
		--des-gcode:           "G-code";
		--des-gherkin:         "Gherkin";
		--des-glsl:            "GLSL";
		--des-go:              "Go";
		--des-golo:            "Golo";
		--des-gradle:          "Gradle";
		--des-groovy:          "Groovy";

		--des-haml:            "Haml";
		--des-handlebars:      "Handlebars";
		--des-haskell:         "Haskell";
		--des-haxe:            "Haxe";
		--des-hsp:             "HSP";
		--des-html:            "HTML";
		--des-htmlbars:        "HTMLBars";
		--des-http:            "HTTP";
		--des-https:           "HTTPS";
		--des-hy:              "Hy";

		--des-inform7:         "Inform7";
		--des-ini:             "Ini";
		--des-irpf90:          "IRPF90";
		--des-irb:             "IRB";

		--des-java:            "Java";
		--des-javascript:      "JavaScript (Babel)";
		--des-xjb:             "JAXB (XML)";
		--des-jboss-cli:       "JBoss CLI";
		--des-json:            "JSON";
		--des-julia:           "Julia";
		--des-julia-repl:      "Julia REPL";

		--des-kotlin:          "Kotlin";

		--des-lasso:           "Lasso";
		--des-ldif:            "LDIF";
		--des-leaf:            "Leaf";
		--des-less:            "Less";
		--des-lisp:            "Lisp";
		--des-livecodeserver:  "LiveCode Server";
		--des-livescript:      "LiveScript";
		--des-llvm:            "LLVM IR";
		--des-lsl:             "LSL";
		--des-lua:             "Lua";

		--des-makefile:        "Makefile";
		--des-markdown:        "Markdown";
		--des-mathematica:     "Mathematica";
		--des-matlab:          "MatLab";
		--des-maxima:          "Maxima";
		--des-mel:             "MEL";
		--des-mercury:         "Mercury";
		--des-mipsasm:         "MISP Assembly";
		--des-routeros:        "Mikrotik RouterOS";
		--des-mizar:           "Mizar";
		--des-mojolicious:     "Mojolicious";
		--des-monkey:          "Monkey";
		--des-moonscript:      "MoonScript";

		--des-n1ql:            "N1QL";
		--des-nginx:           "Nginx";
		--des-nimrod:          "Nimrod";
		--des-nix:             "Nix";
		--des-nsis:            "NSIS";

		--des-objectivec:      "Objective-C";
		--des-ocaml:           "OCaml";
		--des-openscad:        "OpenSCAD";
		--des-ruleslanguage:   "Oracle Rules Language";
		--des-oxygene:         "Oxygene";

		--des-parser3:         "Parser3";
		--des-pascal:          "Pascal/Object Pascal";
		--des-perl:            "Perl";
		--des-pf:              "PF";
		--des-php:             "PHP";
		--des-pony:            "Pony";
		--des-powershell:      "PowerShell";
		--des-processing:      "Processing";
		--des-prolog:          "Prolog";
		--des-plist:           "Property List";
		--des-protobuf:        "Protocol Buffers";
		--des-puppet:          "Puppet";
		--des-purebasic:       "PureBASIC";
		--des-python:          "Python";
		--des-profile:         "Python profile";

		--des-q:               "Q";
		--des-qml:             "QML";

		--des-r:               "R";
		--des-rib:             "RenderMan RIB";
		--des-rsl:             "RenderMan RSL";
		--des-roboconf:        "Roboconf";
		--des-rss:             "RSS Feed (XML)";
		--des-ruby:            "Ruby";
		--des-gemspec:         "Ruby Gem";
		--des-rust:            "Rust";

		--des-scala:           "Scala";
		--des-scheme:          "Scheme";
		--des-scilab:          "Scilab";
		--des-scss:            "SCSS";
		--des-shell:           "Shell";
		--des-smali:           "Smali";
		--des-smalltalk:       "Smalltalk";
		--des-sml:             "SML";
		--des-sqf:             "SQF";
		--des-sql:             "SQL";
		--des-stan:            "Stan";
		--des-stata:           "Stata";
		--des-step21:          "STEP Part 21";
		--des-stylus:          "Stylus";
		--des-subunit:         "SubUnit";
		--des-swift:           "Swift";

		--des-taggerscript:    "Tagger Script";
		--des-tap:             "TAP";
		--des-thor:            "Thor";
		--des-tcl:             "Tcl";
		--des-tex:             "TeX";
		--des-thrift:          "Thrift";
		--des-tp:              "TP";
		--des-twig:            "Twig";
		--des-typescript:      "TypeScript";
		--des-vala:            "Vala";
		--des-vbnet:           "VB.NET";
		--des-vbscript:        "VBScript";
		--des-vbscript-html:   "VBScript HTML";
		--des-verilog:         "Verilog";
		--des-vhdl:            "VHDL";
		--des-vim:             "Vim Script";

		--des-x86asm:          "x86 Assembly";
		--des-xl:              "XL";
		--des-xquery:          "XQuery";
		--des-yaml:            "YAML";
		--des-xhtml:           "XHTML";
		--des-xml:             "XML";
		--des-xsd:             "XML Schema";
		--des-xsl:             "XSL";

		--des-zephir:          "Zephir";

	  /*--des-default:			"Not defined";*/
}

.message-group .comment .markup pre code:before {

  position: relative;
  display: block;
  top: 0;
  text-align: center;
  width: auto;
  color: rgba(255, 98, 98, 0.99);
  background-color: rgba(0,0,0,.5);
  border: 2px solid black;
  border-radius: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-top: 0px !important;
  margin-bottom: 4px;

}

/* New version */

.da-message .da-markup pre code:before {

  position: relative;
  display: block;
  top: 0;
  text-align: center;
  width: auto;
  color: rgba(255, 98, 98, 0.99);
  background-color: rgba(0,0,0,.5);
  border: 2px solid black;
  border-radius: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-top: 0px !important;
  margin-bottom: 4px;

}
