//META{"name":"CodeBlock","description":"Adds descriptions to any codeblock","author":"spthiel","version":"1.1.0"}*//{}

@import url(https://spthiel.github.io/css/CodeBlocks.raw.css);

:root {
	--des-1c:			"1c";
	
	--des-abnf:			"Augmented Backus-Naru Form";
	--des-accesslog:	"Access logs";
	--des-actionscript:	"ActionScript";
	--des-arduino:		"Arduino";
	--des-ada:			"Ada";
	--des-armasm:		"ARM assembler";
	--des-avrasm:		"AVR assembler";
	--des-apache:		"Apache";
	--des-applescript:	"AppleScript";
	--des-asciidoc:		"AsciiDoc";
	--des-AspectJ:		"aspectj";
	--des-autohotkey:	"AutoHotkey";
	--des-autoit:		"AutoIt";
	--des-awk:			"Awk";
	--des-axapta:		"axapta";
	
	--des-bash:         "Bash";
	--des-basic:		"Basic";
	--des-bnf:			"BNF";
	--des-brainfuck:	"Brainfuck";
	
	--des-cs: 			"C#";
	--des-cpp:			"C++";
	--des-cal:			"C/AL";
	--des-cos:			"Cached Object Script";
	--des-cmake:		"CMake";
	--des-coq:			"Coq";
	--des-csp:			"CSP";
	--des-css: 			"Cascading Style Sheet";
	--des-capnproto:	"Cap'n Proto";
	--des-clojure:		"Clojure";
	--des-coffee: 		"CoffeeScript";
	--des-crmsh:		"Crmsh";
	--des-crystal:		"Crystal";
	
	--des-d:			"D";
	--des-dns:			"DNS Zone Field";
	--des-dos: 			"DOS";
	--des-dart:			"Dart";
	--des-delphi:		"Delphi";
	--des-diff:			"Diff";
	--des-django:		"Django";
	--des-dockerfile:	"Dockerfile";
	--des-dsconfig:		"dsconfig";
	--des-dts:			"DTS (Device Tree)";
	--des-dust:			"Dust";
	
	--des-ebnf:			"EBNF";
	--des-elixir:		"Elixir";
	--des-elm:			"Elm";
	--des-erlang:		"Erlang";
	--des-excel:		"Excel";
	
	--des-fsharp:		"F#";
	--des-fix:			"Fix";
	--des-fortran:		"Fortran";
	
	--des-gcode:		"G-Code";
	--des-gams:			"Gams";
	--des-gauss:		"GAUSS";
	--des-gherkin:		"Gherkin";
	--des-go:			"Go";
	--des-golo:			"Golo";
	--des-gradle:		"Gradle";
	--des-groovy:		"Groovy";
	
	--des-html: 		"HTML";
	--des-http: 		"HTTP";
	--des-haml: 		"Haml";
	--des-handlebars:	"Handlebars";
	--des-haskell: 		"Haskell";
	--des-haxe: 		"Haxe";
	--des-hy: 			"Hy";
	
	--des-ini:			"Ini";
	--des-inform7:		"Inform7";
	--des-irpf90:		"IRPF90";
	
	--des-json: 		"JSON";
	--des-java: 		"Java";
	--des-js: 			"JavaScript";
	
	--des-leaf:			"Leaf";
	--des-lasso: 		"Lasso";
	--des-less: 		"Less";
	--des-ldif:			"LDIF";
	--des-lisp:			"Lisp";
	--des-lcs:			"LiveCode Server";
	--des-livescipt:	"LiveScript";
	--des-lua: 			"LUA";
	
	--des-makefile: 	"Makefile";
	--des-markdown: 	"Markdown";
	--des-mathematica: 	"Mathematica";
	--des-matlab: 		"Matlab";
	--des-maxima: 		"Maxima";
	--des-mel: 			"Maya Embedded Language";
	--des-mercury: 		"Mercury";
	--des-mizar: 		"Mizar";
	--des-mojolicious: 	"Mojolicious";
	--des-monkey: 		"Monkey";
	--des-moonscript: 	"Moonscript";
	
	--des-n1ql:			"N1QL";
	--des-nsis:			"NSIS";
	--des-nginx:		"Nginx";
	--des-nimrod:		"Nimrod";
	--des-nix:			"Nix";
	
	--des-ocaml:		"OCaml";
	--des-objectivec:	"Objective C";
	--des-glsl:			"OpenGL Shading Language";
	--des-openscad:		"OpenSCAD";
	--des-ruleslang:	"Oracle Rules Language";
	--des-oxygene:		"Oxygene";
	
	--des-pf: 			"PF";
	--des-php: 			"PHP";
	--des-parser3: 		"Parser3";
	--des-perl: 		"Perl";
	--des-pony: 		"Pony";
	--des-powershell: 	"PowerShell";
	--des-processing: 	"Processing";
	--des-prolog: 		"Prolog";
	--des-protobuf: 	"Protocol Buffers";
	--des-puppet: 		"Puppet";
	--des-python: 		"Python";
	--des-profile: 		"Phyton profiler results";
	
	--des-k:			"Q";
	--des-qml:			"qml";
	
	--des-r: 			"R";
	--des-rib: 			"RenderMan RIB";
	--des-rsl: 			"RenderMan RSL";
	--des-graph: 		"Roboconf";
	--des-ruby: 		"Ruby";
	--des-rust: 		"Rust";
	
	--des-scss: 		"SCSS";
	--des-sql: 			"SQL";
	--des-p21: 			"STEP Part 21";
	--des-scala: 		"Scala";
	--des-scheme: 		"Scgene";
	--des-scilab: 		"Scilab";
	--des-shell: 		"Shell";
	--des-smali: 		"Smali";
	--des-smalltalk: 	"Smalltalk";
	--des-stan: 		"Stan";
	--des-stata: 		"Stata";
	--des-stylus: 		"Stylus";
	--des-subunit: 		"SubUnit";
	--des-swift: 		"Swift";
	
	--des-tap:			"Test Anything Protocol";
	--des-tcl:			"Tcl";
	--des-tex:			"TeX";
	--des-thrift:		"Thrift";
	--des-tp:			"TP";
	--des-twig:			"Twig";
	--des-typescript:	"TypeScript";
	
	--des-vbnet:		"VB.Net";
	--des-vbscript:		"VBScript";
	--des-vhdl:			"VHDL";
	--des-vala:			"Vala";
	--des-verilog:		"Verilog";
	--des-vim:			"Vim Script";
	
	--des-x86asm: 		"x86 Assembly";
	--des-xl: 			"XL";
	--des-xpath: 		"XQuery";
	
	--des-zephir:		"Zephir";
	
	/*--des-default:	"Not defined";*/
}

.message-group .comment .markup pre code:before {
  
  position: relative;
  display: block;
  top: 0;
  text-align: center;	
  width: auto;
  color: rgba(255, 98, 98, 0.99);
  background-color: rgba(0,0,0,.5);
  border: 2px solid black;
  border-radius: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-top: 0px !important;
  margin-bottom: 4px;
  
}
