//META{"name":"hljs-ir-black.css","description":"Applies the ir-black theme to codeblocks","author":"hljs [spthiel]","version":"1.0.0"}*//{}

/*
  IR_Black style (c) Vasily Mikhailitchenko <vaskas@programica.ru>
*/

.theme-dark .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #f8f8f8;
}

.theme-dark .hljs-comment,
.theme-dark .hljs-quote,
.theme-dark .hljs-meta {
  color: #7c7c7c;
}

.theme-dark .hljs-keyword,
.theme-dark .hljs-selector-tag,
.theme-dark .hljs-tag,
.theme-dark .hljs-name {
  color: #96cbfe;
}

.theme-dark .hljs-attribute,
.theme-dark .hljs-selector-id {
  color: #ffffb6;
}

.theme-dark .hljs-string,
.theme-dark .hljs-selector-attr,
.theme-dark .hljs-selector-pseudo,
.theme-dark .hljs-addition {
  color: #a8ff60;
}

.theme-dark .hljs-subst {
  color: #daefa3;
}

.theme-dark .hljs-regexp,
.theme-dark .hljs-link {
  color: #e9c062;
}

.theme-dark .hljs-title,
.theme-dark .hljs-section,
.theme-dark .hljs-type,
.theme-dark .hljs-doctag {
  color: #ffffb6;
}

.theme-dark .hljs-symbol,
.theme-dark .hljs-bullet,
.theme-dark .hljs-variable,
.theme-dark .hljs-template-variable,
.theme-dark .hljs-literal {
  color: #c6c5fe;
}

.theme-dark .hljs-number,
.theme-dark .hljs-deletion {
  color:#ff73fd;
}

.theme-dark .hljs-emphasis {
  font-style: italic;
}

.theme-dark .hljs-strong {
  font-weight: bold;
}
