//META{"name":"zenburn.css","description":"Applies the zenburn theme to codeblocks","author":"hljs [spthiel]","version":"1.0.0"}*//{}

/*

Zenburn style from voldmar.ru (c) Vladimir Epifanov <voldmar@voldmar.ru>
based on dark.css by Ivan Sagalaev

*/

.theme-dark .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #dcdcdc;
}

.theme-dark .hljs-keyword,
.theme-dark .hljs-selector-tag,
.theme-dark .hljs-tag {
  color: #e3ceab;
}

.theme-dark .hljs-template-tag {
  color: #dcdcdc;
}

.theme-dark .hljs-number {
  color: #8cd0d3;
}

.theme-dark .hljs-variable,
.theme-dark .hljs-template-variable,
.theme-dark .hljs-attribute {
  color: #efdcbc;
}

.theme-dark .hljs-literal {
  color: #efefaf;
}

.theme-dark .hljs-subst {
  color: #8f8f8f;
}

.theme-dark .hljs-title,
.theme-dark .hljs-name,
.theme-dark .hljs-selector-id,
.theme-dark .hljs-selector-class,
.theme-dark .hljs-section,
.theme-dark .hljs-type {
  color: #efef8f;
}

.theme-dark .hljs-symbol,
.theme-dark .hljs-bullet,
.theme-dark .hljs-link {
  color: #dca3a3;
}

.theme-dark .hljs-deletion,
.theme-dark .hljs-string,
.theme-dark .hljs-built_in,
.theme-dark .hljs-builtin-name {
  color: #cc9393;
}

.theme-dark .hljs-addition,
.theme-dark .hljs-comment,
.theme-dark .hljs-quote,
.theme-dark .hljs-meta {
  color: #7f9f7f;
}


.theme-dark .hljs-emphasis {
  font-style: italic;
}

.theme-dark .hljs-strong {
  font-weight: bold;
}
