//META{"name":"ascetic.css","description":"Applies the ascetic theme to codeblocks","author":"hljs [spthiel]","version":"1.0.0"}*//{}

/*

Original style from softwaremaniacs.org (c) Ivan Sagalaev <Maniac@SoftwareManiacs.Org>

*/

.theme-dark .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: black;
}

.theme-dark .hljs-string,
.theme-dark .hljs-variable,
.theme-dark .hljs-template-variable,
.theme-dark .hljs-symbol,
.theme-dark .hljs-bullet,
.theme-dark .hljs-section,
.theme-dark .hljs-addition,
.theme-dark .hljs-attribute,
.theme-dark .hljs-link {
  color: #888;
}

.theme-dark .hljs-comment,
.theme-dark .hljs-quote,
.theme-dark .hljs-meta,
.theme-dark .hljs-deletion {
  color: #ccc;
}

.theme-dark .hljs-keyword,
.theme-dark .hljs-selector-tag,
.theme-dark .hljs-section,
.theme-dark .hljs-name,
.theme-dark .hljs-type,
.theme-dark .hljs-strong {
  font-weight: bold;
}

.theme-dark .hljs-emphasis {
  font-style: italic;
}
