//META{"name":"atelier-savanna-dark.css","description":"Applies the atelier-savanna-dark theme to codeblocks","author":"hljs [spthiel]","version":"1.0.0"}*//{}

/* Base16 Atelier Savanna Dark - Theme */
/* by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/savanna) */
/* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */

/* Atelier-Savanna Comment */
.theme-dark .hljs-comment,
.theme-dark .hljs-quote {
  color: #78877d;
}

/* Atelier-Savanna Red */
.theme-dark .hljs-variable,
.theme-dark .hljs-template-variable,
.theme-dark .hljs-attribute,
.theme-dark .hljs-tag,
.theme-dark .hljs-name,
.theme-dark .hljs-regexp,
.theme-dark .hljs-link,
.theme-dark .hljs-name,
.theme-dark .hljs-selector-id,
.theme-dark .hljs-selector-class {
  color: #b16139;
}

/* Atelier-Savanna Orange */
.theme-dark .hljs-number,
.theme-dark .hljs-meta,
.theme-dark .hljs-built_in,
.theme-dark .hljs-builtin-name,
.theme-dark .hljs-literal,
.theme-dark .hljs-type,
.theme-dark .hljs-params {
  color: #9f713c;
}

/* Atelier-Savanna Green */
.theme-dark .hljs-string,
.theme-dark .hljs-symbol,
.theme-dark .hljs-bullet {
  color: #489963;
}

/* Atelier-Savanna Blue */
.theme-dark .hljs-title,
.theme-dark .hljs-section {
  color: #478c90;
}

/* Atelier-Savanna Purple */
.theme-dark .hljs-keyword,
.theme-dark .hljs-selector-tag {
  color: #55859b;
}

.theme-dark .hljs-deletion,
.theme-dark .hljs-addition {
  color: #171c19;
  display: inline-block;
  width: 100%;
}

.theme-dark .hljs-deletion {
}

.theme-dark .hljs-addition {
}

.theme-dark .hljs {
  display: block;
  overflow-x: auto;
  color: #87928a;
  padding: 0.5em;
}

.theme-dark .hljs-emphasis {
  font-style: italic;
}

.theme-dark .hljs-strong {
  font-weight: bold;
}
