//META{"name":"hljs-atelier-dune-light.css","description":"Applies the atelier-dune-light theme to codeblocks","author":"hljs [spthiel]","version":"1.0.0"}*//{}

/* Base16 Atelier Dune Light - Theme */
/* by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/dune) */
/* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */

/* Atelier-Dune Comment */
.theme-dark .hljs-comment,
.theme-dark .hljs-quote {
  color: #7d7a68;
}

/* Atelier-Dune Red */
.theme-dark .hljs-variable,
.theme-dark .hljs-template-variable,
.theme-dark .hljs-attribute,
.theme-dark .hljs-tag,
.theme-dark .hljs-name,
.theme-dark .hljs-regexp,
.theme-dark .hljs-link,
.theme-dark .hljs-name,
.theme-dark .hljs-selector-id,
.theme-dark .hljs-selector-class {
  color: #d73737;
}

/* Atelier-Dune Orange */
.theme-dark .hljs-number,
.theme-dark .hljs-meta,
.theme-dark .hljs-built_in,
.theme-dark .hljs-builtin-name,
.theme-dark .hljs-literal,
.theme-dark .hljs-type,
.theme-dark .hljs-params {
  color: #b65611;
}

/* Atelier-Dune Green */
.theme-dark .hljs-string,
.theme-dark .hljs-symbol,
.theme-dark .hljs-bullet {
  color: #60ac39;
}

/* Atelier-Dune Blue */
.theme-dark .hljs-title,
.theme-dark .hljs-section {
  color: #6684e1;
}

/* Atelier-Dune Purple */
.theme-dark .hljs-keyword,
.theme-dark .hljs-selector-tag {
  color: #b854d4;
}

.theme-dark .hljs {
  display: block;
  overflow-x: auto;
  color: #6e6b5e;
  padding: 0.5em;
}

.theme-dark .hljs-emphasis {
  font-style: italic;
}

.theme-dark .hljs-strong {
  font-weight: bold;
}
